<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="base_url" value="https://magento.softwaretestingboard.com/"/>
		<add key="loginpage_url" value="https://magento.softwaretestingboard.com/customer/account/login/referer/aHR0cHM6Ly9tYWdlbnRvLnNvZnR3YXJldGVzdGluZ2JvYXJkLmNvbS8%2C/"/>
		<add key="accountpage_url" value="https://magento.softwaretestingboard.com/customer/account/index/"/>
		<add key="valid_username" value="alican_165@hotmail.com"/>
		<add key="valid_password" value="Alican123"/>
	</appSettings>
</configuration>